<!DOCTYPE html>
<html>

<head>
  <% include ./partials/_head %>
  <title>Register Form</title>
</head>

<body>
  <!-- main -->
  <h1>Register Form</h1>
  <div>
    <div>
      <form action="/register" method="post">
        <input class="text email" type="email" name="email" placeholder="Email" required="" /> <br>
        <input class="text" type="password" name="password" placeholder="Password" required="" /> <br>
        <input type="submit" value="SIGNUP" />
      </form>
      <p>Have an Account? <a href="/login"> Login Now!</a></p>
    </div>
  </div>

  </div>
  <!-- //main -->
</body>

</html>